.about{
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 55%;
    background: linear-gradient(to bottom, #ff9933, #ffffff, #138808);
    overflow: hidden;
    padding: 100px 0;
}
.inner-section{
    width: 52%;
    float: right;
    background-color: #DAF9DA;
    padding: 100px;
    box-shadow: 13px 12px 8px rgba(0,0,0,0.3);
    border-radius: 30px;
}
.inner-section h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}
.text{
    font-size: 19px;
    color: #1f1818;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
