
#contact-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#contact-details .details{
    width: 40%;
    margin-left: 20px;
}
#contact-details .details span,
.form-details form span{
    font-size: 15px;
}
#contact-details .details h2,
.form-details form h2{
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}
#contact-details .details h3{
    font-size: 16px;
    padding-bottom: 15px;
}
#contact-details .details li{
    list-style: none;
    display: flex;
    padding: 10px 0;
    font-family: sans-serif;
}
#contact-details .details li i{
    font-size: 14px;
    padding-right: 22px;
}
#contact-details .details li p{
    margin: 0;
    font-size: 14px;
}
#contact-details .map{
    width: 750px;
    height: 470px;
    margin-top: 50px;
    margin-right: 20px;
}
#contact-details .map iframe{
    width: 100%;
    height: 100%;
}
.form-details{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #e1e1e1;
}
.form-details form{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.form-details form input,
.form-details form textarea{
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid grey;
}
.normal {
    background-color: #088178;
    color: white;
    margin-bottom: 10px;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 20px;
}
#page-header.about-header{
    background-image: url(https://i.postimg.cc/9FRXBZ6m/b5.png);
    text-align: center;
    height: 200px;
}
#page-header h2,
#page-header p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}